<body class ="secret">
<h1> Profile</h1>

<h2>
  WELCOME {{theUser.username}}
  
</h2>

<form action="/user/delete/{{this._id}}" method="POST">
    <button class ="button">DELETE MY ACCOUNT</button>
</form>



</body>
